In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
big_mart_data=pd.read_csv("D:\\campus_x\\big\\train.csv")
big_mart_data.sample(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1478,FDN20,NaN,Low Fat,0.026055,Fruits and Vegetables,169.5474,OUT027,1985,Medium,Tier 3,Supermarket Type3,4211.1850
825,FDF46,7.07,Low Fat,0.093653,Snack Foods,113.3834,OUT035,2004,Small,Tier 2,Supermarket Type1,1267.0174
4005,FDY25,12.00,Low Fat,0.034167,Canned,181.2976,OUT017,2007,NaN,Tier 2,Supermarket Type1,5070.7328

In [3]:
#big_mart_data.info()

In [4]:
#big_mart_data.describe()
#big_mart_data.isnull().sum()

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [6]:
trf1=ColumnTransformer([('SI1',SimpleImputer(strategy='most_frequent'),['Outlet_Size']),
                       ('SI2',SimpleImputer(),['Item_Weight'])],remainder='passthrough')

In [7]:
abc=trf1.fit_transform(big_mart_data)

In [8]:
big_mart_data1=pd.DataFrame(abc,columns=['Outlet_Size','Item_Weight','Item_Identifier','Item_Fat_Content','Item_Visibility',
                                        'Item_Type','Item_MRP','Outlet_Identifier','Outlet_Establishment_Year',
                                        'Outlet_Location_Type','Outlet_Type','Item_Outlet_Sales'])

In [10]:
big_mart_data1 = big_mart_data1.astype({'Outlet_Size':object,'Item_Weight':float,'Item_Identifier':object,'Item_Fat_Content':object,'Item_Visibility':float,
                                        'Item_Type':object,'Item_MRP':float,'Outlet_Identifier':object,'Outlet_Establishment_Year':int,
                                        'Outlet_Location_Type':object,'Outlet_Type':object,'Item_Outlet_Sales':float})

In [11]:
#big_mart_data1.isnull().sum()

In [12]:
big_mart_data1.head(2)

,Outlet_Size,Item_Weight,Item_Identifier,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,Medium,9.30,FDA15,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Tier 1,Supermarket Type1,3735.1380
1,Medium,5.92,DRC01,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Tier 3,Supermarket Type2,443.4228